
  .image-upload>input {
    display: none;
  }
  .img{
      background-color: #d8d6ef;
      color: white;
      font-size: x-small;
      top: -10px;
      width: 70px;
      height: 15px;
      border: none;
      cursor: pointer;
      border-radius: 15px !important;
  }
  .img:hover{
    background: #f7afa8;
  }
.option{
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}